<div class = "card mt-3">
    <div class = "card-body">
        <form action="/seila" method="POST">
            <h3>Escolha uma das seguintes funções abaixo:</h3>
            <select name = "func" class="form-select" aria-label="Default select example">
                <option value="1">TitleCaseWordsWithToken</option>
                <option value="2">InvertStringCase</option>
                <option value="3">InvertCaseFirstAdjustStringToPrevious</option>
                <option value="4">InvertCaseFirstAdjustStringToCurrent</option>
                <option value="5">AllUppercaseWithToken</option>
                <option value="6">AllLowercaseWithToken</option>
                <option value="7">UppercaseWordsWithToken</option>
                <option value="8">LowercaseWordsWithToken</option>
            </select>
            <button type="submit" class="btn btn-primary mt-2">submeter</button>
        </form>
    </div>
</div>